<!DOCTYPE html>
<html>
<head>
  <title>Weatherometer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% if @body_class != nil %>
	<body class="<%= @body_class %>">
<% else %>
	<body>
<% end %>

	<div class="container">
		<%= yield %>
	</div>
	
</body>
</html>
